*{
    margin: 0;
    padding: 0;
}

/* -------Navigation Bar------- */
#nav-bar
{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar-brand img
{
    height: 70px;
            width: 40%;
            padding-left: 20px;
}
.navbar-nav li
{
    padding: 0 10px;
}
.navbar-nav li a
{
    float: right;
    text-align: left;
    font-size: 20px;
}
#nav-bar ul li a:hover
{
    color: #ff9800!important;
}
.navbar
{
    background:#26272b;
}
.navbar-toggler
{
    border: none!important;
}
.nav-link
{
    color:white!important;
    font-weight: 600;
    font-size: 16px;
}
.login li a {
    background-color: deepskyblue;
    border-radius: 10px;
}.signup li a {
     background-color: yellowgreen;
     border-radius: 10px;
 }
.logout li a {
    background-color: #f50202;
    border-radius: 10px;
}
/* -------Navigation Bar------- */



/* ----------------------banner------------------------ */
.sec1{
    margin-top: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sec1 .banner{
    width: 100%;
    height: 300px;
}
.sec1 .banner img{
    width: 100%;
    height: 100%;
}
@media (max-width:550px){
    .sec1 .banner{
        width: 100%;
        height: 200px;
    }
}

/* -----------------------headings------------------- */
.box{
	margin: 80px 0;
}
.title-style h1{
	padding: 20px 0;
}
.title-style{
	margin: 0 auto 80px;
	height: 100px;
	width: 80%;
	max-width: 600px;
	background: white;
	position: relative;
	color: #032130;
	box-shadow: 0 4px 5px 0 rgba(5, 5, 61, 0.5);
    text-shadow: 2px 2px 0 #dad9d9, 4px 4px 0 #bebdbd;
}
.title-style::after{
	content: '';
	height: 100px;
	width: 200px;
	/* background-color: #2f6e92; */
	background-image: linear-gradient(to right, #054d74, #8077e6, #1377b9, #2f5dda, #188ec5);
	position: absolute;
	top: -10px;
	left: -10px;
	z-index: -1;
}
.title-style::before{
	content: '';
	height: 100px;
	width: 200px;
    /* background-color: #2f6e92; */
    background-image: linear-gradient(to right, #054d74, #8077e6, #1377b9, #2f5dda, #188ec5);
	position: absolute;
	bottom: -10px;
	right: -10px;
	z-index: -1;
}
@media (max-width:400px){
    .title-style h1{
        font-size: 30px;
    }
}


/* ------------------our initiatives------------------ */
.sec-2{
    margin: 10px;
    padding: 10px;
}
.sec2 .row{
    /* background-color: #edf6fdef; */
    -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: -10px 0px 13px -7px #7a7a7a, 10px 0px 13px -7px #838383, 5px 5px 15px 5px rgba(0,0,0,0); 
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 60px;
}
.sec2 .row:hover{
    box-shadow: 0 0 15px 15px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: 0.5s;
}
.sec2 .row .col-md-4{
    height: 200px;
    width: 150px;

}
.sec2 .row .col-md-4 img{
    height: 100%;
    width: 100%;
}
@media (max-width:767px){
    .sec2 .row .col-md-4{
        height: 200px;
        width: 180px;
        margin: 0px auto;
    }
    .sec2 .row .col-md-4 img{
        height: 100%;
        width: 100%;
        
    }
}


/* ------------------------team----------------------- */
#team
{
    padding-top: 50px;
    padding-bottom: 50px;
}
#team .row
{
    margin-top: 30px;
}
#team .col-md-4{
    margin-bottom: 100px;
}
.t1
{
    margin: 40px auto;
    margin-bottom: 100px;
}
.t2{
    margin-bottom: 100px;
}
#t2, #t3, #t5{
    margin-bottom: 100px;
}
#second{
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile
{
    padding: 70px 10px 10px;
    background-color: #edf6fdef;
    -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: -10px 0px 13px -7px #7a7a7a, 10px 0px 13px -7px #838383, 5px 5px 15px 5px rgba(0,0,0,0);    
}
.user
{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
#team .profile img
{
    top: -90px;
    position: absolute;
    left: calc(35% - 45px);
    border: 10px solid #fff;
}
#team .profile h3
{
    font-size: 20px;
    margin-top: 15px;
    color: #052f44;
    font-weight: bold;
}
#team span
{
    font-size: 12px;
    color: #f3663c;
}
blockquote
{
    font-size: 16px;
    line-height: 30px;
}
blockquote::before
{
    content: "\201C";
    font-size: 60px;
    position: relative;
    color: #f3663c;
    line-height: 20px;
    bottom: -15px;
    right: 5px;
}
blockquote::after
{
    content: '\201D';
    font-size: 60px;
    position: relative;
    color: #f3663c;
    line-height: 10px;
    bottom: -15px;
    left: 5px;
}
.profile:hover
{
    box-shadow: 0 0 15px 15px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: 0.5s;
}

@media (max-width:1100px){
    .user
    {
        width: 130px;
        height: 130px;
        border-radius: 50%;
    }
    #team .profile img
    {
        top: -60px;
        position: absolute;
        left: calc(50% - 60px);
        border: 10px solid #fff;
    }
}
@media (max-width:769px){
    .user
    {
        width: 200px;
        height: 200px;
        border-radius: 50%;
    }
    #team .profile img
    {
        top: -90px;
        position: absolute;
        left: calc(35% - 45px);
        border: 10px solid #fff;
    }
}



/* -----------footer--------- */
footer{
    width: 100%;
    background-color:#26272b;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
  }
  .sec-2{
    display: flex;
    justify-content: space-between ;
    flex-direction: row;
    padding: 30px 10px;
  }
  .about-sec{
    width: 40%;
  }
  .sec-2 .ha{
    text-align: left;
  }
  .sec-2 h2{
    font-size: 20px;
    color:white;
    font-weight: bold;
    text-transform: uppercase;
    /* padding-bottom: 10px; */
  }
  .about-sec p{
    text-align: justify;
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.884);
    line-height: 24px;
    font-size: 16px;
  }
  .sec-2 ul{
    list-style: none;
  }
  .sec-2 ul li{
    padding: 5px;
    display: block;
    text-align:left;
    color: rgba(255, 255, 255, 0.884);
    /* font-weight: 500; */
    font-size: 16px;
  }
  a{
    text-decoration: none !important;
    color:white !important;
  }
  .sec-2 a:hover{
    color: #e84545 !important;
  }
  
  .sec-2 h2::after{
    content: '';
    background-color:#e84545;
    /* position: relative; */
    width: 0;
    height: 3px;
    display: block;
    transition: all .3s;
    left: 0px;
    top: -10px;
  }
  .sec-2 h2:hover::after{
    width: 60px;
  }
  span{
    color: white;
  }
  i{
    color: white;
    font-size: 20px;
    margin-right: 10px;
  }
  .sec-3{
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 5px; */
  }
  .sec-3 h2{
    color:white;
    font-size: 26px;
    padding: 0px;
  }
  .sec-3 a{
    display: inline-block;
    padding: 10px 25px;
    font-size: 20px;
    color: white;
    font-weight: bold;
    background-color: rgba(238, 29, 29, 0.842);
    margin: 10px;
    border-radius: 20px;
  }
  .sec-3 a:hover{
    background-color:orange;
    box-shadow: 0px 0px 4px 0px rgb(122, 120, 120);
    text-shadow: 2px 1px white;
    color: rgb(15, 15, 15)!important;
  }
  hr{
    opacity: 0.2;
  }
  .sec-4{
    display: flex;
    justify-content: center;
    /* padding: 5px; */
  }
  .sec-4 ul{
    list-style: none;
    margin: 20px;
  }
  .sec-4 ul li{
    display: inline-block;
    width: 60px;
    height: 60px;
    padding: 20px;
    border-radius: 50% 50% 50% 70% / 50% 50% 70% 60%;
    margin-right: 20px;
    box-shadow:4px 4px 3px 0px rgba(50, 50, 50, 0.75);
  
  }
  .sec-4 ul li i{
    color:white;
    font-size: 25px;
    line-height: 20px;
    text-align: center;
  }
  .sec-4 ul li:nth-child(1){
    background-color:#424242;
  }
  .sec-4 ul li:nth-child(2){
    background-color:#424242;
  }
  .sec-4 ul li:nth-child(3){
    background-color:#424242;
  }
  .sec-4 ul li:nth-child(4){
    background-color:#424242;
  }
  .sec-4 ul li:nth-child(5){
    background-color:#424242;
  }
  .sec-4 ul li:nth-child(1):hover{
    background-color:#35559b;
  }
  .sec-4 ul li:nth-child(2):hover{
    background-color:#2fa3fc;
  }
  .sec-4 ul li:nth-child(3):hover{
    background-color:#e24833;
  }
  .sec-4 ul li:nth-child(4):hover{
    background-color:#0382c7;
  }
  .sec-4 ul li:nth-child(5):hover{
    background-color:#1a1c22;
  }
  .sec-5{
    width: 100%;
    padding: 10px;
  }
  .copyright{
    display: flex;
    justify-content: center;
    padding: 15px;
    background: black;
    /* font-weight: bold; */
    font-size: 20px;
    text-align: center;
    text-shadow: 2px 1px black;
    color: rgb(228, 227, 227);
  }
  
  /* --------------First breakpoint 1000px------------ */
  @media (max-width:1000px){
  
    footer{
        width: 100%;
        background-color:#26272b;
        color: white;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .sec-2{
        display: flex;
        justify-content: space-between ;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 30px 10px;
    }
    .about-sec{
        width: 100%;
        margin-bottom: 20px;
    }
    .sec-2 h2{
        font-size: 20px;
        color:white;
        text-transform: uppercase;
        /* padding-bottom: 10px; */
    }
    .about-sec p{
        text-align: justify;
        margin-top: 10px;
        color: rgba(255, 255, 255, 0.884);
        line-height: 24px;
        font-size: 16px;
    }
    .sec-2 ul{
        list-style: none;
    }
    .sec-2 ul li{
        padding: 5px;
        display: block;
        text-align:left;
        color: rgba(255, 255, 255, 0.884);
        /* font-weight: 500; */
        font-size: 16px;
    }
    a{
        text-decoration: none;
        color: white;
    }
    .sec-2 a:hover{
        color: #e84545;
    }
    
    .sec-2 h2::after{
        content: '';
        background-color: #e84545;
        /* position: relative; */
        width: 0;
        height: 3px;
        display: block;
        transition: all .3s;
        left: 0px;
        top: -10px;
    }
    .sec-2 h2:hover::after{
        width: 60px;
    }
    span{
        color:white;
    }
    i{
        color: white;
        font-size: 20px;
        margin-right: 10px;
    }
    .sec-3{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px;
    }
    .sec-3 h2{
        color:white;
        font-size: 24px;
        padding: 0px;
    }
    .sec-3 a{
        display: inline-block;
        padding: 10px 25px;
        font-size: 20px;
        color: white;
        background-color: rgba(238, 29, 29, 0.842);
        margin: 10px;
        border-radius: 20px;
    }
    .sec-3 a:hover{
        background-color:orange;
        box-shadow: 0px 0px 4px 0px rgb(122, 120, 120);
        text-shadow: 2px 1px rgb(255, 255, 255);
        color: rgb(228, 227, 227);
    }
    hr{
        opacity: 0.2;
    }
    .sec-4{
        display: flex;
        justify-content: center;
        padding: 15px;
    }
    .sec-4 ul{
        list-style: none;
        margin: 20px;
    }
    .sec-4 ul li{
        display: inline-block;
        width: 60px;
        height: 60px;
        padding: 20px;
        background-color: #46616d;
        border-radius: 50% 50% 50% 70% / 50% 50% 70% 60%;
        margin-right: 20px;
    }
    .sec-4 ul li i{
        color: white;
        font-size: 25px;
        line-height: 20px;
        text-align: center;
    }
    .sec-5{
        width: 100%;
        padding: 20px;
    }
    .copyright{
        display: flex;
        justify-content: center;
        padding: 15px;
        background: black;
        color:rgba(228,227,227);
        font-size: 20px;
        text-align: center;
        text-shadow: 2px 1px rgb(0, 0, 0);
    }
    .sec-5 a{
        text-decoration: none;
        color:white;
    }
  }
  
  
  /* ------------------second breakpoint------------------ */
  @media (max-width: 600px){
    footer{
        width: 100%;
        background-color: #26272b;
        color: white;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .sec-2{
        display: flex;
        justify-content: space-between ;
        flex-direction: column;
        padding: 20px 10px;
    }
    .about-sec{
        width: 100%;
    }
    .sec-2 h2{
        font-size: 20px;
        color:white;
        text-transform: uppercase;
        margin-top: 10px;
        text-align: center;
    }
    .about-sec p{
        text-align: justify;
        margin-top: 10px;
        color: rgba(255, 255, 255, 0.884);
        line-height: 24px;
        font-size: 16px;
    }
    .sec-2 ul{
        list-style: none;
    }
    .sec-2 ul li{
        padding: 5px;
        font-size: 16px;
    }
    a{
        text-decoration: none;
        color: white;
    }
    .sec-2 h2::after{
        visibility: hidden;
        z-index: -100
    }
    span{
        color:white;
    }
    i{
        color: white;
        font-size: 20px;
        margin-right: 10px;
    }
    .sec-3{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px;
    }
    .sec-3 h2{
        color:white;
        font-size: 20px;
        padding: 0px;
    }
    .sec-3 a{
        display: inline-block;
        padding: 10px 20px;
        font-size: 15px;
        color: rgb(255, 255, 255);
        background-color: rgba(238, 29, 29, 0.842);
        margin: 10px;
        border-radius: 20px;
    }
    .sec-3 a:hover{
        background-color:orange;
        box-shadow: 0px 0px 4px 0px rgb(122, 120, 120);
        text-shadow: 2px 1px rgb(255, 255, 255);
        color: rgb(228, 227, 227);
    }
    hr{
        opacity: 0.2;
    }
    .sec-4{
        display: flex;
        justify-content: center;
        padding: 15px;
    }
    .sec-4 ul{
        list-style: none;
        margin: 15px;
    }
    .sec-4 ul li{
        display: inline-block;
        width: 35px;
        height: 35px;
        padding: 10px;
        /* background-color: #46616d; */
        border-radius: 50% 50% 50% 70% / 50% 50% 70% 60%;
        margin-right: 5px;
        box-shadow:4px 4px 3px 0px rgba(50, 50, 50, 0.75);
    }
    .sec-4 ul li i{
        color: white;
        font-size: 18px;
        line-height: 18px;
        text-align: center;
    }
    .sec-5{
        width: 100%;
        padding: 20px;
    }
    .copyright{
        display: flex;
        justify-content: center;
        padding: 15px;
        background: black;
        color: #fff;
        font-size: 18px;
        text-align: center;
        text-shadow: 2px 1px black;
        color: rgb(228, 227, 227);
    }
    .sec-5 a{
        text-decoration: none;
        color: white;
    }
    .link-1,.link-2 , .link-3{
        text-align: center!important;
    }
    .link-1 ul li a,
    .link-2 ul li a, 
    .link-3 li{
        display: block;
        text-align: center!important;
    }
    .sec-2 .ha{
        text-align: center;
    }
  }
  
  